h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.score {
  text-align: center;
}

.pokemon {
  width: 50%;
  text-align: center;
  align-items: center;
}

.pokemon-name {
}

.pokemon-sprite {
  width: 200px;
}

.higher-lower-button {
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.generate-random-button {
  text-align: center;
}
